---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/sections/Hero.astro'
import About from '@/sections/About.astro'
import Skills from '@/sections/Skills.astro'
import Projects from '@/sections/Projects.astro'
import Contact from '@/sections/Contact.astro'
import Header2 from'@/components/Header2.astro'
import TY from'@/sections/TY.astro'
---

<Layout title="Andy Martin">
  <main>
    <Header2/>
   <TY />
    <About >Your Download has been Thanks for your interest in my free music resources.</About>
    <Skills />
    <Projects />
    <Contact />
  </main>
</Layout>