---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/sections/Hero.astro'
import About from '@/sections/About.astro'
import Skills from '@/sections/Skills.astro'
import Projects from '@/sections/Projects.astro'
import Contact from '@/sections/Contact.astro'
import Header2 from'@/components/Header2.astro'
import { Button, Modal, ModalHeader, ModalBody, ModalFooter } from 'free-astro-components'
import TY from'@/sections/TY.astro'

---
<style is:global>
  :root {
  --ac-primary: 217, 119, 6; /* New primary color */
  }
</style> 
<Layout title="Andy Martin">
  
  <main class="bg-dark-blue text-steel-blue h-screen mx-auto sm:px-16 ">
    <Header2/>
<div class="lg:pb-[15vh] pb-6" ></div>

     <!-- <div class="invisible">
      <Button class="" label="Open Modal" data-modal-trigger="thanks" />
      </div>
      
    <div class="flex flex-col md:flex-row mx-auto place-content-evenly px-4 ">
        <Modal id="thanks">
          <ModalHeader>
            <h4>Confirmation</h4>
          </ModalHeader>
          <ModalBody>
            <p>
              Success! Now check your email for the download link.
            </p>
          </ModalBody>
          <ModalFooter>
            <Button label="Close" data-modal-close />
          </ModalFooter>
        </Modal>
        </div> -->
   <TY ><p class="text-lg pb-6">Success! Now check your email for the download link.</p>I offer lessons in jazz harmony, ear training, and more.</TY>
  </main>
  <!--<script>
    import { openModal, closeModal } from 'free-astro-components';
  
    const modal = document.querySelector('#thanks');
  
    
      openModal(modal);
  </script> -->
</Layout>