---
import TextReveal from '@/components/TextReveal.astro'
---

<section
  data-contact
  class="bg-dark-blue text-steel-blue py-40 lg:pt-52 xl:pt-60 px-8 pb-10"
>
  <div class="flex flex-col gap-8 max-w-2xl mx-auto">
    <div class="flex flex-col gap-4">
      <h2 class="text-white text-3xl lg:text-4xl 2xl:text-5xl font-semibold">
        Let's collaborate!
      </h2>
      <p class="text-lg">Available for lessons, masterclasses, and session work. Get in touch.</p> 
      <!--<p>
        <button class="bg-[#d97706] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Schedule a lesson
        </button>
      </p>
       -->
    </div>

    
          <form method="post" action="//formspree.io/andrew.martin@berkeley.edu" class="space-y-8">
            <div>
              <div class="pb-4">
                  <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
                  <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="name@placeholder.com" required>
              </div>
              <div class="sm:col-span-2 pb-4">
                  <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your message</label>
                  <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your message here..."></textarea>
              </div>
            
              <button type="submit" value="Send Message" class="bg-[#d97706] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded hover:bg-white hover:text-[#d97706]">Send message</button>
              
          </form>
      </div>
    </section>
  </div>
</section>
