---
interface Props {
  Title:string
}
const { Title } = Astro.props
---

<section
  data-contact
  class="bg-dark-blue text-steel-blue px-8 h-auto overflow-hidden my-auto"
>

  <div class="flex flex-col gap-8 max-w-2xl mx-auto my-auto">
    <div class="flex flex-col gap-4">
      <h2 class="text-white text-3xl lg:text-4xl 2xl:text-5xl font-semibold">
       {Title}
      </h2>
      <p class="text-lg"><slot /></p> 
      <!--<p>
        <button class="bg-[#d97706] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Schedule a lesson
        </button>
      </p>
       -->
    </div>

    
          <form action="#" class="space-y-8">
            <div>
              <div class="pb-4">
                  <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
                  <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="name@placeholder.com" required>
              </div>
            
              <button type="submit" class="bg-[#d97706] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded hover:bg-white hover:text-[#d97706]">Send me the PDF</button>
              </div>
          </form>
      </div>
    </section>
  </div>