---
import { Image } from 'astro:assets';
import  AM2  from '@/images/AM2.jpg';
import  arrow  from '@/images/arrow.png'
---

<section
  data-about
  class="bg-dark-blue text-steel-blue lg:pt-16 xl:pt-16 px-8 pb-16 md:pb-0 w-screen"
>
<div class="flex lg:flex-row flex-col-reverse mx-auto items-center place-content-evenly">

<div class="flex-col">
  <div class="text-2xl sm:text-3xl lg:text-4xl 2xl:text-5xl font-semibold max-w-[30ch] leading-normal lg:leading-normal 2xl:leading-normal mx-auto text-white pt-4">
  
  
    <slot />
    </div>

    <div>
      <a href="https://cal.com/andymartin"><button class="bg-[#d97706] hover:bg-blue-700 text-white font-bold py-2 px-2 xs:px-4 rounded hover:bg-white hover:text-[#d97706] sm:mx-auto center mt-6 text-2xl sm:text-3xl lg:text-4xl 2xl:text-5xl leading-normal lg:leading-normal 2xl:leading-normal mx-auto">
        Schedule a lesson
        </button> </a>
        
        <img class="relative -top-4 md:-top-6 inline-block items-center h-12 xs:h-16 sm:h-24" src="/images/arrow.png">
    </div>
</div>
    

<div class="object-cover h-full pb-16 md:pb-16 bg-white/90 pt-3 px-3 md:max-w-sm max-w-64 rounded rotate-1 mx-auto">
      <Image class="items-center md:w-[40vw] rounded" src={ AM2 } alt="Me" />
      </div>
   
  
  </div>

  
  </div>
</section>
