<section>
    <div class="flex w-full h-full items-center text-center font-bold text-4xl pt-16 bg-dark-blue text-white mx-auto">
        <div class="text-cente mx-auto">
    <h1 class="text-center mx-auto"> Check your email for the download link. Thanks for your interest in my free music resources. </h1>
     </div>
</div>
</section>